.cat-card2 {
    max-width: 100%;
    margin: 0 auto;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    display: flex;
  }
  
  .cat-card2 img {
    width: 62.5rem;
    height: 62.5rem;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 1rem;
    box-shadow: 0 0 1rem #00000055;
    transition: transform 300ms;
  }
  
  .cat-card2 div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .cat-card2 p {
    margin: 1rem 0;
    margin-left: 4rem;
    margin-bottom: 3rem;
    font-size: 2rem;
  }

  
  
  .cat-card2 p:first-child {
    font-size: 3rem;
    font-weight: bold;
  }
  
  .cat-card2 p:last-child {
    margin-bottom: 1rem;
  }
  

  .cat-button-container {
    margin: .5rem 0;
    margin-left: 4rem;
    margin-bottom: 3rem;
    font-size: 2rem;
  }
  
  .cat-button {
    font-size: 1.7rem; 
    outline: none;
    border: none;
    transition: background-color 300ms, color 300ms;
    position: relative;
  }
  
  .cat-button::before {
    content: '';
    font-size: 3rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 300ms;
  }
  
  .cat-button::before {
    background-color: rgba(255, 255, 255, 0);
  }
  
  .cat-button:hover {
    color: lightgrey;
  }
  