/* Cat Grid Container */
.cat-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(31.25rem, 1fr));
    gap: 1rem;
    padding: 1rem;
    justify-content: center;
  }
  
  /* Cat Card Styles */
  .cat-block {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem lightblue;
    transition: transform 300ms;
  }
  
  /* Cat Card Text Styles */
  .cat-block p {
    font-family: 'Segoe UI', sans-serif;
    margin: .5rem 0;
    margin-top: 1rem;
    font-size: 2rem;
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1rem;
    color: black;
  }
  

  .cat-block p:last-child {
    font-size: 1.7rem;
  }
  
  /* Cat Card Button Styles */
  .cat-block button {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    background-color: rgb(255, 255, 255);
    outline: none;
    border: none;
    transition: background-color 300ms, color 300ms;
    position: relative;
  }
  
  .cat-block button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0);
    transition: background-color 300ms;
  }
  
  /* Cat Card Hover Effects */
  .cat-block:hover button::before {
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .cat-block button:hover {
    color: lightgrey;
  }
  
  /* Cat Image Styles */
  .cat-image {
    width: 95%;
    height: 95%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 1rem;
    align-self: center;
    box-shadow: 0 0 1rem #00000055;
    transition: transform 300ms;
  }
  
  /* Right Arrow Icon Styles */
  .arrow {
    width: 6rem;
    height: 2rem;
    margin-left: 4rem;
    position: absolute;
    transition: transform 300ms, fill 300ms;
  }
  